
/* nunito-900 - latin */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('~$shared/fonts/nunito-v16-latin-900.eot'); /* IE9 Compat Modes */
	src: local(''), url('~$shared/fonts/nunito-v16-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('~$shared/fonts/nunito-v16-latin-900.woff2') format('woff2'), /* Super Modern Browsers */ url('~$shared/fonts/nunito-v16-latin-900.woff') format('woff'), /* Modern Browsers */ url('~$shared/fonts/nunito-v16-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */ url('~$shared/fonts/nunito-v16-latin-900.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* alegreya-regular - latin */
@font-face {
	font-family: 'Alegreya';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('~$shared/fonts/alegreya-v16-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''), url('~$shared/fonts/alegreya-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('~$shared/fonts/alegreya-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('~$shared/fonts/alegreya-v16-latin-regular.woff') format('woff'), /* Modern Browsers */ url('~$shared/fonts/alegreya-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('~$shared/fonts/alegreya-v16-latin-regular.svg#Alegreya') format('svg'); /* Legacy iOS */
}